.pcalc {
    width: 350px;
    height: 400px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
    background-color: #bababa;
    margin: auto;
}

div.title {
    display: inline-block;
    position: top;
    width: inherit;
    height: auto;
    border-radius: 5%;
    background-color: #B64B39;
}

div > h1 {
    color: white;
    text-align: center;
    font-size: 1rem;
}

#optSel{

margin: auto;
    /* position: relative; */
}

#numField1, #numField2{ 
    width: 20px;
}

::placeholder {
    color: gray;
    text-align: center;
}

